/* Provide sufficient contrast against white background */
@import '~antd/dist/antd.css';

#components-layout-demo-fixed-sider .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.site-layout .site-layout-background {
    background: #fff;
}

body {
    background-color: #f7f7f7 !important;
}

.pointer-cursor {
    cursor: pointer;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

